__pycache__
main.log
logger.pyc
./pubsub/__init__.pyc
./__pycache__/logger.cpython-34.pyc
./pubsub/__init__.pyc ./__pycache__/logger.cpython-34.pyc
pubsub/__init__.pyc
logger.pyc
logger.py main.py
*.pyc
webservice/frontend2/node_modules/
webservice/frontend2/dist/
webservice/frontend2/vendor/
webservice/frontend
